.wrapper{
    width: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.log__button, .chosen__button{
    width: 45%;
    border: 2px solid #136809;
    border-radius: 15px;
}

.chosen__button{
    background-color: #b6eeb0;
}


.form__container{
    padding: 20px;
    border: 2px solid ;
    border-radius: 15px;
    min-width: 350px;
    width: 20%;
    background-color: rgb(243, 228, 209);
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.form__button{
    border-radius: 15px;
}

label{
    margin-right: 10px;
}

.input__container label{
    width: 20%;
}

.input__container input{
    height: 30px;
}

.invisible{
    display: none;
}

.input__container{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.check__container{
    position: relative;
    display: flex;
    margin: 10px;
}

.check__container input{
    margin-right: 10px;
}

.check__container label {
    max-width: 280px;
}

.check__container label a{
    color: #136809;
    text-decoration:underline;
}

.footer{
    width:100vw;
    position: absolute;
    bottom: 100px;
}

@media (max-width:400px) {
    .form__container{
        min-width: 250px;
        width: 100%;
        margin: 10px;
    }

    .check__container label {
       width: 100%;
    }

    .input__container input{
        width: 50%;
    }
    
}

@media (max-width:320px) {
    .log__buttons{
        flex-direction: column;
        align-items: center;
    }

    .log__button, .chosen__button{
        width: 60%;
        margin-bottom: 10px;
    }
}