.wrapper{
    width:100%;
    padding:40px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket__container{
    width: 50%;
    border: 2px solid #136809;
    background-color: rgb(243, 228, 209);
    padding: 5px;
    border-radius: 5px;
}

.ticket__card{
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 3px solid #136809;
    margin-bottom: 10px;
    padding-bottom:20px;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}

.ticket__card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.711);

    z-index: -1;
}

.ticket__card:last-child{
    margin-bottom: 0;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.from__to{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.from, .to, .price, .number, .time{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.header{
    font-weight: 800;
}

.from::before{
    content: 'Візправка з: ';
}

.to::before{
    content: 'Прибуває в: ';
}

.forTime{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time::before{
    content: 'о ';
    font-size: 20px;
}

.number::before{
    content: 'Номер потяга: ';
}

.details{
    border-left: 3px dashed #136809;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy__button{
    background-color: #469e3c;
    color: #f0f8ff;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.price::before{
    content: "Вартість купе:";
}

.from::before, .to::before, .price::before, .number::before, .time::before{
    font-size: 15px;
    margin-right: 5px;
    font-weight: 900;
}

.footer{
    width:100vw;
    position: absolute;
    bottom: 100px;
}

@media (max-width:1330px){
    .wrapper{
        padding: 10% 2%;
      } 
      
      .ticket__container{
        min-width: 500px;
          flex-direction: column;
      }
  
      .ticket__card{
          grid-template-columns: 100%;
          grid-template-rows: 55% 30%;
      }
  
      .details{
          border-left: none;
          border-top: 3px dashed #136809;
      }
}

@media (max-width:500px) {
    .ticket__container{
        min-width: 250px;
        width: 100%;
    }

    .footer{
        position: relative;
        margin-top: 100px;
    }
}

