@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html,body{
    height: 100%;
    font-family: 'Comfortaa', cursive;
    
}

body{
    background-color: #cccebce0;
}

.NewsNPopular{
    display: flex;
    width: 100%;
    padding:40px 10%;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

@media (max-width:500px) {
    .NewsNPopular{
      padding: 10% 2%;
    } 
}